# Build & artefacts
build/
*.deb
*.exe
*.rpm
*.zip

# Qmake project files
*.pro.user*

# Cmake project files
CMakeLists.txt.user*
CMakeUserPresets.json
compile_commands.json

# KDev project files
*.kdev4*

