# Runs from the projects root:
# doxygen tools/doxygen.cfg

PROJECT_NAME           = uChmViewer
PROJECT_NUMBER         = 8.6
OUTPUT_DIRECTORY       = doc
CREATE_SUBDIRS         = YES
TOC_INCLUDE_HEADINGS   = 0
EXTRACT_ALL            = YES
EXTRACT_STATIC         = YES
EXTRACT_LOCAL_METHODS  = YES
CASE_SENSE_NAMES       = NO
SORT_BRIEF_DOCS        = YES
SORT_MEMBERS_CTORS_1ST = YES
INPUT                  = src \
                         lib/libebook
FILE_PATTERNS          = *.h \
                         *.hpp \
                         *.cpp \
                         *.c
RECURSIVE              = YES
VERBATIM_HEADERS       = NO
ECLIPSE_DOC_ID         = ru.u-235.uChmViewer
MATHJAX_RELPATH        = http://www.mathjax.org/mathjax
SEARCHENGINE           = NO
GENERATE_LATEX         = NO
LATEX_CMD_NAME         = latex
UML_LOOK               = YES
CALL_GRAPH             = YES
CALLER_GRAPH           = YES
DOT_GRAPH_MAX_NODES    = 60
TAGFILES               = tools/doxygen_qt_tags.xml=https://doc.qt.io/qt-5
