# Runs from the projects root:
# doxygen tools/doxygen_qhelp.cfg

@INCLUDE = tools/doxygen.cfg

GENERATE_QHP           = YES
QCH_FILE               = ../uchmviewer.qch
QHP_NAMESPACE          = ru.u-235.uChmViewer
QHG_LOCATION           = /usr/bin/qhelpgenerator
